<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775999130252-64gb6i52gjnn1lmc788t882v0j9kddgn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775999130252-64gb6i52gjnn1lmc788t882v0j9kddgn</string>
	<key>API_KEY</key>
	<string>AIzaSyDZRRGfZgl3cJWzAqkmJ7h-baVazuHUgLg</string>
	<key>GCM_SENDER_ID</key>
	<string>775999130252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bilgimizde.bilgimizde-app</string>
	<key>PROJECT_ID</key>
	<string>bilgimizde-android</string>
	<key>STORAGE_BUCKET</key>
	<string>bilgimizde-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775999130252:ios:04caa03c7cbc8824f2c9a9</string>
</dict>
</plist>